#player {
	width:100%;
	height:30px;
	margin: 0 auto 0 auto;
	background-color:black;
	color:white;
	text-align:center;
	padding-top:20px;
	.track-artist {
		color: white;
	}
	.track-title {
		color: white;
	}
}
