/* line 3, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Helvetica Neue";
}

/* line 10, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
body {
  background-color: #eee;
  padding-top: 40px;
}

/* line 15, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.container {
  width: 720px;
  margin: 0 auto;
}

/* line 20, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* line 26, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.logo {
  margin-top: 20px;
  text-align: center;
}
/* line 29, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.logo img {
  width: 150px;
}

/* line 34, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.prev, .next {
  width: 120px;
  height: 120px;
  top: 30%;
  padding: 5px;
  background: white;
  display: block;
  margin: 82px 0px;
  cursor: pointer;
}

/* line 45, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.prev {
  left: 0px;
  background: url("http://christian-fei.com/css/img/arrow_left.png") center center no-repeat;
  position: fixed;
}

/* line 51, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.next {
  right: 0px;
  background: url("http://christian-fei.com/css/img/arrow_right.png") center center no-repeat;
  position: fixed;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player {
  position: fixed;
  top: 0;
  width: 100%;
  height: 26px;
  margin: 0 auto 0 auto;
  background-color: black;
  font-size: 12px;
}
/* line 9, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .track-artist {
  color: #E6E6E6;
}
/* line 12, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .track-title {
  color: #999;
}
/* line 15, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player ul li {
  float: left;
  display: inline;
  line-height: 26px;
  margin-right: 5px;
}
/* line 21, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .soundcloud-logo {
  display: none;
  float: right;
}
/* line 24, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .soundcloud-logo img {
  width: 25px;
  height: 25px;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/playlist.scss */
.playlist-container {
  background-color: white;
  margin-top: 30px;
  padding-bottom: 10px;
}

/* line 7, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/playlist.scss */
.playlist-title {
  width: 83%;
  text-align: center;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1766ac;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #eeeeee;
  margin: 0 auto 20px auto;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  height: 40px;
  text-align: left;
}
/* line 8, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container.active {
  background-color: rgba(23, 102, 172, 0.1);
}
/* line 10, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container.active:hover {
  background-color: rgba(23, 102, 172, 0.2);
}
/* line 14, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container:hover {
  background-color: rgba(23, 102, 172, 0.2);
}
/* line 17, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}
/* line 22, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container .artist {
  font-size: 14px;
  color: #969696;
  margin: 0 0 2px 0;
}
