/* line 3, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: "Helvetica Neue";
}

/* line 10, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
body {
  padding-top: 40px;
}

/* line 14, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
.container {
  width: 970px;
  margin: 0 auto;
}

/* line 19, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/main.scss */
ul {
  list-style-type: none;
  margin: 0px;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player {
  position: fixed;
  top: 0;
  width: 100%;
  height: 26px;
  margin: 0 auto 0 auto;
  background-color: black;
  font-size: 12px;
}
/* line 9, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .track-artist {
  color: #E6E6E6;
}
/* line 12, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player .track-title {
  color: #999;
}
/* line 15, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/player.scss */
#player ul li {
  display: inline;
  line-height: 26px;
  margin-right: 5px;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/playlist.scss */
.playlist-title {
  margin: 50px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1766ac;
}
/* line 1, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  height: 40px;
  text-align: left;
}
/* line 8, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container.active {
  background-color: rgba(23, 102, 172, 0.1);
}
/* line 10, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container.active:hover {
  background-color: rgba(23, 102, 172, 0.2);
}
/* line 14, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container:hover {
  background-color: rgba(23, 102, 172, 0.2);
}
/* line 17, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
}
/* line 22, /Users/guillaumegaluz/Projects/qratr/client/stylesheets/track.scss */
.track-container .artist {
  font-size: 14px;
  color: #969696;
  margin: 0 0 2px 0;
}
